/*导航栏*/
ul{ list-style:none;}
a{color:#333;text-decoration:none}
.nav li{float:left;}
.nav li a{
    display:block;
    text-align:center;
    height:30px;
    line-height:30px;
    width:100px;
    /*background-color: orangered;*/
    font-weight: bold;
}
.nav li a:hover{
    background-color: gray;
    color: #ff4500
}
body{margin:0}
.head{
    /*margin: 200px;*/
    background-image: url("../图片/logo头部.png");
}
#navigation{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0;
    /*background-color: #d6f7ff;*/
}
.logo_right{
    float:right;
}
.logo_center{
    float: top;
}




.introduce {
    display: flex;
    flex-direction: column;
}
.introduce_item {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.introduce_item_text {
    width: 1000px;
    font-size: 18px;
    line-height: 36px;
    align-self: center;
    text-align: center;
    padding-left: 100px;
}



/*旋转图片*/
*{
    margin: 0;
    padding: 0;
}
:root{
    height: 100%;
}
body{
    height: 100%;
    perspective: 3000px;
    /* perspective-origin: 0px 800px ; */
	/*background-color: #eee;*/
	background-image: url("../图片/背景.png");
}
.container{
    width: 960px;
    height: 650px;
    margin:60px auto;
    position: relative;

}
.container img{
    padding: 10px 10px 15px;
    background: #fff;
    border:1px solid #ddd;
    box-shadow: 2px 2px 3px rgba(50,50,50,0.4);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    z-index: 1;
    position: absolute;
}
.container img:hover{
    cursor: pointer;
    box-shadow: 15px 15px 20px rgba(50,50,50,0.4);
    transform: rotate(0deg) scale(1.20);
    -webkit-transform: rotate(0deg) scale(1.20);
    z-index: 2;
}
.father{
    width: 300px;
    height: 300px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    transform-style: preserve-3d;
    animation: run 8s linear infinite;
}
@keyframes run{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.father>div{
    width: 100%;
    height: 100%;
    position: absolute; 
    background-size: cover;
}
.son1{
	top:300px;
    background-image: url(../图片/国旗广场.jpeg);
    transform: rotateY(45deg) translateZ(400px);
}
.son2{
	top:300px;
    background-image: url(../图片/图书馆.jpeg);
    transform: rotateY(90deg) translateZ(400px);
}
.son3{
	top:300px;
    background-image: url(../图片/岩芯.jpeg);
    transform: rotateY(135deg) translateZ(400px);
}
.son4{
	top:300px;
    background-image: url(../图片/彩虹楼梯.jpeg);
    transform: rotateY(180deg) translateZ(400px);
}
.son5{
	top:300px;
    background-image: url(../图片/华水美景1.jpg);
    transform: rotateY(225deg) translateZ(400px);
}
.son6{
	top:300px;
    background-image: url(../图片/足球场.jpeg);
    transform: rotateY(270deg) translateZ(400px);
}
.son7{
	top:300px;
    background-image: url(../图片/龙湾湖.jpeg);
    transform: rotateY(315deg) translateZ(400px);
}
.son8{
	top:300px;
    background-image: url(../图片/华水美景2.jpg);
    transform: rotateY(360deg) translateZ(400px);
}